<div class="site-header header-2 mb--20 d-none d-lg-block">
    <div class="header-middle pt--10 pb--10 ">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <a href="~/" class="site-brand">
                        <img src="~/public/images/logo1.png" alt="">
                    </a>
                </div>
                <div class="col-lg-5">
                    <div class="header-search-block">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="~/tim-kiem/">
                            <input type="search" name="keyw" placeholder="Tìm kiếm sản phẩm, loại sản phẩm ...">
                            <button>Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-navigation flex-lg-right">
                        <div class="cart-widget">
                            @if (ViewBag.username == null)
                            {
                                <div class="login-block">
                                    <a href="~/AuthCus/index" class="font-weight-bold">Đăng nhập</a> <br>
                                    <span>or</span><a href="~/AuthCus/index">Đăng kí</a>
                                </div>
                            }
                            else
                            {
                                <div class="login-block">
                                    <a href="~/thong-tin-kh" class="font-weight-bold"><span> Hi:</span><span id="unameSess"> @ViewBag.username</span></a> <br>
                                    <a href="~/thong-tin-kh">Xem Thông tin</a>
                                </div>
                            }
                            @Html.Action("cart_header", "Cart")
                        </div>
                        <!-- include('menu.htm') -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom bg-primary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    @Html.Action("Category", "Modules")
                </div>
                <div class="col-lg-2">
                    <div class="header-phone color-white">
                        <div class="icon">
                            <i class="fas fa-headphones-alt"></i>
                        </div>
                        <div class="text">
                            <p>Hỗ trợ 24/7</p>
                            <p class="font-weight-bold number"> +84 334 205 708</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="main-navigation flex-lg-right">
                        @Html.Action("Mainmenu", "Modules")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-mobile-menu">
    <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
        <div class="container">
            <div class="row align-items-sm-end align-items-center">
                <div class="col-md-4 col-7">
                    <a href="~/" class="site-brand">
                        <img src="~/public/images/logo1.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 order-3 order-md-2">
                    @Html.Action("Mobile_category", "Modules")
                    <!--Mobilecategory-->
                </div>
                <div class="col-md-3 col-5  order-md-3 text-right">
                    <div class="mobile-header-btns header-top-widget">
                        <ul class="header-links">
                            <li class="sin-link">
                                <a href="~/gio-hang" class="cart-link link-icon"><i class="ion-bag"></i></a>
                            </li>
                            <li class="sin-link">
                                <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn">
                                    <i class="ion-navicon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Off Canvas Navigation Start-->
    <aside class="off-canvas-wrapper">
        <div class="btn-close-off-canvas">
            <i class="ion-android-close"></i>
        </div>
        <div class="off-canvas-inner">
            <!-- search box start -->
            <div class="search-box offcanvas">
                <form method="GET" action="~/tim-kiem/">
                    <input type="text" name="keyw" placeholder="Tìm kiếm sách, tác giả...">
                    <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                </form>


            </div>
            <!-- search box end -->
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav class="off-canvas-nav">
                    @Html.Action("mobileSubMainmenu", "Modules")
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->
            <nav class="off-canvas-nav">
                <ul class="mobile-menu menu-block-2">


                    <li class="menu-item-has-children">
                        <a href="#">Tài khoản <i class="fas fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="~/thong-tin-kh">Thông tin</a></li>
                            <li><a href="~/san-pham-yeu-thich">Sản phẩm yêu thích</a></li>
                         
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="off-canvas-bottom">
                <div class="contact-list mb--10">
                    <a href="" class="sin-contact"><i class="fas fa-mobile-alt"></i>0334205708</a>
                    <a href="" class="sin-contact"><i class="fas fa-envelope"></i>hoangphong280420@gmail.com</a>
                </div>
                <div class="off-canvas-social">
                    <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="single-icon"><i class="fas fa-rss"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </aside>
    <!--Off Canvas Navigation End-->
</div>
<div class="sticky-init fixed-header common-sticky">
    <div class="container d-none d-lg-block">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <a href="~/" class="site-brand">
                    <img src="~/public/images/logo1.png" alt="">
                </a>
            </div>
            <div class="col-lg-8">
                <div class="main-navigation flex-lg-right text-darkk">
                    @Html.Action("Mainmenu", "Modules")
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .text-darkk ul li a {
        color: #1a1717 !important;
    }

        .text-darkk ul li a:hover {
            color: #62ab00 !important;
        }
</style>